.text {
  color: red;
}

.subheader {
  height: 152px;
  border: 1px solid black;
}
.panel_top {
  display: flex;
  height: 65px;
  border: 1px solid black;
}

.container {
  height: 656px;
  margin: 0 auto;
  border: 1px solid black;
}

.images_bucket {
  display: flex;
  width: 1262px;
  height: 656px;
  margin: 0 auto;
  padding-top: 24px;
  border: 1px solid black;
}

.pricing_card {
  width: 283px;
  height: 300px;
  border: 1px solid black;
}
